<!DOCTYPE html>
<html lang="zxx">
    {% load static %}


<!-- single-blog.html 05:27  -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Blockchain</title>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   {% include 'links.html' %}
</head>

<body>

	<!-- START PRELOADER -->
	<!-- <div id="page-preloader">
		<div class="theme-loader">Bitfonix</div>
	</div> -->
	<!-- END PRELOADER --> 
	
	<!-- START HEADER SECTION -->
	{% include 'header.html' %}
	<!-- END HEADER SECTION -->
	
	<!-- START PAGE BANNER AND BREADCRUMBS -->
	<section id="page-banner">
		<div class="single-page-title-area overlay" data-background="{% static 'images/bg/slide1.jpg' %}">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="single-page-title">
							<h2>Blog Details</h2>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
		<div class="single-page-title-area-bottom">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Blockchain</li>
						</ol>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
	</section>

	<!-- END PAGE BANNER AND BREADCRUMBS -->
	
	<!-- START BLOG SECTION -->
    <section id="blog" class="section-padding">
        <div class="container">	 
			<div class="row">
				<div class="col-lg-8 col-md-8 col-12">
					<div class="blog-single-image-wra text-center">
						<img class="img-fluid" src="{{blog.image.url}}" alt="">
						<div class="blog-single-image-wra-des">
							<span class="sdate">{{blog.time}}</span>
							<h4>{{blog.title}}</h4>
							Posted by <span class="spostby">Jone Doe</span> <span class="scata">Currency, Exchange, Trading</span>
						</div>
					</div>
					<div class="blog-single-des">
						<div class="row mb-5">
							<div class="col-12 ser-page-into">
								<h4>Post Overview</h4>
								<p>{{blog.body}}</p>
							</div>
							<!-- end col -->
							
							<!-- end col -->
						</div>
						
						
						<div class="blog-single-bottom mt-5">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-0 mb-4">
									<div class="blog-single-taglist">
										<ul>
											<li><a href="#">Coin</a></li>
											<li><a href="#">Security</a></li>
											<li><a href="#">Wallet</a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="blog-single-sharelist float-lg-right float-md-right float-left">
										<ul>
											<li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
											<li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
											<li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="blog-single-author mt-5">
							<!-- <div class="row">
								<div class="col-lg-3 col-md-3 col-12 pr-0 mb-lg-0 mb-md-0 mb-4">
									<div class="author-image">
										<img class="img-fluid" src="assets/img/team/person2.jpg" alt="">
									</div>
								</div>
								<div class="col-lg-9 col-md-9 col-12 pl-lg-0 pl-md-0">
									<div class="author-desc">
										<h5>Athour: Jone Doe</h5>
										<p>Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnag aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborinu aliquip ex ea commodo consequat.<p>	
									</div>
								</div>
							</div> -->
						</div>
					 </div>
					<div class="blog-comment-list mt-5 col-12">
						<!-- <h4 class="row">Bitfonix Comments (2)</h4>
						<hr class="row">
						<div class="row mt-5 blog-comment-list-one">
							<div class="col-lg-2 col-md-2 col-4 p-0 mb-lg-0 mb-md-0 mb-4">
								<div class="author-image">
									<img class="img-fluid" src="assets/img/team/person1.jpg" alt="">
									<div class="author-image-rep">
										<p>REPLY <i class="fa fa-reply-all"></i></p>
									</div>
								</div>
							</div>
							<div class="col-lg-10 col-md-10 col-8 p-0">
								<div class="author-desc">
									<p class="mb-3"><span class="cauthor">Jone Doe</span> <span class="cdate">DECEMBER 25, 2018 AT 10.30 PM</span></p>
									<p>Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnag aliqua.</p>	
								</div>
							</div>
						</div>
						<div class="row mt-5 ml-lg-5 ml-md-5 ml-0 blog-comment-list-one">
							<div class="col-lg-2 col-md-3 col-4 p-0 mb-lg-0 mb-md-0 mb-4">
								<div class="author-image">
									<img class="img-fluid" src="assets/img/team/person2.jpg" alt="">
									<div class="author-image-rep">
										<p>REPLY <i class="fa fa-reply-all"></i></p>
									</div>
								</div>
							</div>
							<div class="col-lg-10 col-md-9 col-8 p-0">
								<div class="author-desc">
									<p class="mb-3"><span class="cauthor">Jone Doe</span> <span class="cdate">DECEMBER 26, 2018 AT 12.45 AM</span></p>
									<p>Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnag aliqua.</p>	
								</div>
							</div>
						</div> -->
					</div>	
					<div class="home-p-form-wrapper mt-5 mb-lg-0 mb-md-0 mb-5">
						<h4 class="row">Leave A Comment</h4>
						<hr class="row">
						<div class="home-p-form">
							<form action="#">
								<div class="row">
									<div class="form-group col-lg-6 mb-3">
										<input name="aname" class="form-control" id="afirst-name" placeholder="First Name*" required="required" type="text">
									</div>
									<div class="form-group col-lg-6 mb-3">
										<input name="lname" class="form-control" id="lname" placeholder="Last name" required="required" type="text">
									</div>
									<div class="form-group col-lg-6 mb-3">
										<input name="aemail" class="form-control" id="aemail" placeholder="Email id*" required="required" type="email">
									</div>
									<div class="form-group col-lg-6 mb-3">
										<input name="asubject" class="form-control" id="asubject" placeholder="Subject" required="required" type="text">
									</div>									
									<div class="form-group col-lg-12 mb-3">
										<textarea rows="6" name="rmessage" class="form-control" id="adescription" placeholder="Your Message Here..." required="required"></textarea>
									</div>
									<div class="form-group col-lg-5 mb-lg-0 mb-md-0 mb-2 pr-0">
										<a href="#" title="Click here to submit your message!" class="btn-style btn-filled btn-filled-2">Send Comment <i class="fa fa-paper-plane"></i></a>
									</div>
									<div class="form-group col-lg-7">
										<p><strong>Note:</strong> We promise that we don't do spam &amp; your mail id is confidential. </p>
									</div>
								</div>
							</form>								
						</div>
					</div>					 
					 
					 
					 
					 
					 
				</div>
				<!-- end col -->
				<div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-5 pl-lg-5 pl-md-5 pl-sm-2 pl-2">
					<div class="widget ser_wid mb-5">
						<div class="widget-inner">
							<form class="col-12 navbar-form">
								<div class="row">
								<div class="form-group col-lg-10 col-md-10 col-10 p-0">
									<input class="form-control" name="search" value="Search here..." type="text">
								</div>
								<div class="form-group col-lg-2 col-md-2 col-2 p-0">
									<button type="submit" class="btn"><i class="icofont icofont-search"></i></button>
								</div>
								</div>
							</form>
						</div>
					</div>
					<!-- end widget -->
					<div class="widget cat_wid mb-5">
						<h3 class="widget-title">Recent Post</h3>
						<!-- end widget tittle-->
						<div class="widget-inner mt-5">
							{% for r in recent %}
							<div class="blog-singleRecpost">
								<img src="{{r.image.url}}" alt="" class="img-fluid">
								<h6 class="blog-recTitle">
									<a href="#">{{r.title}}</a>
								</h6>
								<p class="posted-on">{{r.time}}</p>
							</div>
							{% endfor %}
							
							
						</div>
					</div>
					<!-- end widget -->
					<div class="widget cat_wid mb-5">
						<h3 class="widget-title">Category List</h3>
						<!-- end widget tittle-->
						<div class="widget-inner mt-5">
							<div class="category-menu">
								<ul>
									{% for c in cat %}
									<li><a href="#">{{c.name}}<span class="float-right"></span></a></li>
									
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<!-- end widget -->	
					<div class="widget liv_wid mb-5">
						
					</div>
					<!-- end widget -->	
					<div class="widget tag_wid">
						<h3 class="widget-title">Tag List</h3>
						<!-- end widget tittle-->
						<div class="widget-inner mt-5">
							<div class="tag-list">
								<ul>
									<li><a href="#">Bitcoin <span>4</span></a></li>
									<li><a href="#">Trading <span>3</span></a></li>
									<li><a href="#">Coin <span>5</span></a></li>
									<li><a href="#">Buy <span>2</span></a></li>
									<li><a href="#">Seller <span>7</span></a></li>
									<li><a href="#">Currency <span>4</span></a></li>
									<li><a href="#">Ethereum  <span>1</span></a></li>
									<li><a href="#">Cryptocurrency <span>2</span></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- end widget -->
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END BLOG SECTION -->
	
    <!-- START FOOTER -->
    {% include 'footer.html' %}
    <!-- END FOOTER -->
	
	<!-- Latest jQuery -->
   {% include 'script.html' %}
</body>


<!-- single-blog.html 05:27  -->
</html>