{% load static %}
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <!-- popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- meanmenu min js  -->
    <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
	<!-- Sticky JS -->
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <!-- owl-carousel min js  -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>	
    <!-- jquery appear js  -->
    <script src="{% static 'js/jquery.appear.js' %}"></script>
    <!-- countTo js -->
    <script src="{% static 'js/jquery.inview.min.js' %}"></script>
    <!-- venobox js -->
    <script src="{% static 'js/venobox.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <!-- scroll to top js -->
    <script src="{% static 'js/scrolltopcontrol.js' %}"></script>
    <!-- WOW - Reveal Animations When You Scroll -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- scripts js -->
    <script src="{% static 'js/scripts.js' %}"></script>
	<!-- chart js -->
    <script src="{% static 'js/canvasjs.min.js' %}"></script>
    <script src="{% static 'js/canvasjs.activeone.js' %}"></script>

	<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'owlcarousel/css/owl.carousel.min.js' %}"></script>
	<script src="{% static 'venobox/js/venobox.min.js' %}"></script>